@font-face {
    font-family: AsROG;
    src: url(../fonts/AsusRog-Regular_2.ttf);
}
@font-face {
    font-family: GeforceBold;
    src: url(../fonts/GeforceBold.ttf);
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.3)) , url(../img/rog/wpp2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    
}

.bg-white {
    background-color: white;
}
.bg-dark2 {
    background-color: #343a40;
}
.color-white {
    color: white !important;
}

iframe {
    height: 16.2rem !important;
    width: 28.8rem !important;
}

h1:first-child {
    font-family: GeforceBold;
}

.tmb {
    font-family: AsROG;
    color: aqua;
}

.tmb:hover {
    font-family: GeforceBold;
    letter-spacing: 2px;
    font-size: larger;
    text-decoration: underline;
    color: aqua;
}

.green {
    color: greenyellow;
}
.green:hover {
    font-family: GeforceBold;
    letter-spacing: 2px;
    font-size: larger;
    color: greenyellow;
}