body{
    text-align: center;
}

a{
    color: black;
    text-shadow: 5px red;
    text-decoration: none;
    font-weight: bold;
}

a:visited{
    color: black;
}
a:active{
    color: white;
}

#fordító{
    font-size: 9px;
}