.kepek{
    background: rgb(56, 56, 56);
    border-radius: 10ex;
}


.kep1{
    padding: 10ex;
}

.kep2{
    padding: 10ex;
}

.kep3{
    padding: 10ex;
}

.kep4{
    padding: 10ex;
}

.kep5{
    padding: 10ex;
}