.card-img-top{
    border-radius: 10%;
}

.copyright{
    text-align: center;
}

.accordion-button{
    background: rgb(56, 56, 56);
    color: rgba(255, 255, 255, 0.747);
}

.accordion-header{
    text-align: center;
    background: rgb(56, 56, 56);
    color: rgba(255, 255, 255, 0.747);
}

.accordion-body{
    text-align: center;
    background: rgb(56, 56, 56);
    color: rgba(255, 255, 255, 0.747);    
}

.accordion-body-img{
    border-radius: 15%;
}

.card{
    text-align: center;
    margin: 2ex;
}

.fo{
    text-align: center;
    background: rgb(56, 56, 56);
    color: rgba(255, 255, 255, 0.747);
    border-radius: 5ex;
    margin: 2ex;
    padding: 3ex;
}

.fo_img{
    border-radius: 20%;
}

.fo_link{
    color: rgba(255, 255, 255, 0.747);
}

.fo_link:visited{
    color: rgba(255, 255, 255, 0.39);
    text-decoration: none;
}

.fo_link:hover{
    color: rgba(255, 255, 255, 0.747);
}

.magyarazat{
    text-align: center;
    background: rgb(56, 56, 56);
    color: rgba(255, 255, 255, 0.747);
    border-radius: 5ex;
}